<section class="footer" [style.background-image]="'url('+_data.background_img+')'" *ngIf="_data">
  <div class="shutter">
    <div class="lists">
      <ol class="ordered-list">
        <li *ngFor="let i of _data.list">
          {{i.list_name}}
          <ul class="unordered-lists">
            <li *ngFor="let item of i.list_items">{{item}}</li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="info">
      <div class="wrap-cop-det">
        <div class="copyryght" [innerHTML]="_data.info.copyryght"></div>
        <div class="wrap-details">
          <div class="info-details" *ngFor="let item of _data.info.info_details">{{item}}</div>
        </div>
      </div>
      <div class="wrap-performer">
        <div *ngFor="let item of _data.info.performer">{{item}}</div>
      </div>
    </div>
  </div>
</section>
