@function rem-caunt($args) {
  @return ($args/15) * 1rem;
 }

.footer {
  width: 100%;
  background-position: center;
  color: #ffffff;
}
.shutter {
  width: 100%;
  height: 100%;
  background-color: rgba(31, 104, 193, 0.9);
  font-family: "open-sans-light";
}

//footer list
.lists {
  width: 100%;
  height: 362px;
}
.ordered-list {
  width: 1200px;
  height: 80px;
  border-bottom: 1px solid #3b7fd4;
  background-color: #0b53ac;
  padding-left: calc((100% - 1200px)/2);
  padding-right: calc((100% - 1200px)/2);
  display: flex;
  > li {
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    line-height: 1.333rem;
    color: white;
    font-size: 1.2rem;
  }
}
.unordered-lists {
  position: absolute;
  top: 100px;
  li {
    margin-left: 14px;
    font-size: 1rem;
    line-height: 1.4rem;
    position: relative;
    cursor: pointer;
    transition: opacity 0.3s;
    &:hover{
      opacity: 0.7;
    }
    &::before {
      width: 4px;
      height: 2px;
      background-color: #3b7fd4;
      position: absolute;
      left: -13px;
      top: 9px;
      content: "";
    }
  }
}

//Footer info
.info {
  width: 1200px;
  height: 152px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top: 1px solid #4086db;
  margin: 0 auto;
}
.wrap-cop-det{
  display: flex;
justify-content: space-between;
}
.copyryght{
  font-size: rem-caunt(13);
  position: relative;
  top: -5px;
}
.wrap-details{
  width: 470px;
  display: flex;
  justify-content: space-between;
  position: relative;
  right: 14px;
  top: -5px;
  > div{
    cursor: pointer;
    transition: opacity 0.3s;
    &:hover{
      opacity: 0.7;
    }
  }
}
.wrap-performer{
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -38px;
  right: 14px;

  > div{
    &:first-child{
      margin-right: 3px;
      color: #07bdcb;
    }
  }
}
