 
.mySelect {
  position: absolute;
}

.select-list {
  width: 330px;
  height: 51px;
  background-color: #e4e4e4;
  position: relative;
  z-index: 2;
  left: 10px;
}

.view-select {
  height: 100%;
  display: flex;
  justify-content: space-between;
  color: #4b4a4a;
  }

.new-select-view {
  width: 295px;
  position: relative;
  padding-top: 51px;
 }

.item {
  &.selected,
  &:hover {
    background-color: #e4e4e4;
  } 

  &.selected {
    transform: scale(1);
    position: absolute;
    top:0;
  }

  &.active:not(.selected) {
    transform: scale(1);
  }
 
  height: 51px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  cursor: pointer;
  padding-left: 22px;
  transform: scaleY(0);
  transition: all 0.4s ease-in-out;
}

.select-button {
  margin: 3px 3px 0 0;
  height: 43px;
  width: 28px;
  display: block;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  img {
    width: 20px;
    height: 20px;
    
  }
}
