<div class="js-select-list select-list">
  <div class="view-select" *ngIf="selectData">
    <div class="new-select-view">
      <div
      *ngFor="let option of selectData.select_options;let i = index"  class="item"
      [ngClass]="{active:isListVisible==true,selected:getSelectedOption(option)}"
      (click)="selectItem(option)">{{option}}
    </div>
    </div>
    <div class="select-button" (click)="toggleList()">
      <img  [src] ='selectData.icon_button_select' alt="Otwórz">
    </div>
  </div>
</div>
