.wrap {
  border-bottom: 1px solid #dddddd;
}
.login-bar {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 8px 0;
  font-size: 0.8rem;
  height: 40px;
  .social {
    display: flex;
    justify-content: space-between;
    width: 428px;
  }
  .wrap-facebok,
  .wrap-youtube,
  .wrap-login {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color: #1f68c1;
    font-family: 'open-sans-regular', sans-serif;
    a {
      color: inherit;
    }
    img,
    a {
      display: inline-block;
    }
    .first-text {
      margin-left: 17px;
    }
    img {
      width: 18px;
      height: 18px;
    }
  }
  .login-text-2 {
    color: #a4a4a4;
    margin-left: 6px;
  }
  .login-text-3 {
    color: #a4a4a4;
    font-weight: 700;
    margin-left: 6px;
  }
}
