<section class="wrap">
  <div class="login-bar" *ngIf="login_bar">
    <section class="social">
      <div class="wrap-facebok">
        <img [src]='login_bar.image_src_facebook' alt="Facebook" class="image-login-bar">
        <a [href]='login_bar.href_facebook' class="first-text">{{login_bar.facebook_text}}</a>
      </div>
      <div class="wrap-youtube">
        <img [src]='login_bar.image_src_youtube' alt="YouTube" class="image-login-bar">
        <a [href]='login_bar.href_youtube' class="first-text">{{login_bar.YouTube_text}}</a>
      </div>
    </section>
    <div class="wrap-login">
      <img [src]='login_bar.image_src_login' alt="Login" class="image-login-bar">
      <a [href]='login_bar.href_login' class="first-text">{{login_bar.login_text_1}}</a>
      <span class="login-text-2">{{login_bar.login_text_2}}</span>
      <span class="login-text-3">{{login_bar.login_text_3}}</span>
    </div>
  </div>
</section>
