<section class="wrap">
  <div class="header-bar">
    <section class="category-items-basket">
        <div class="wrap-basket">
            <img [src]='_data.basket_img' alt="Basket" class="image-basket">
            <div class="amount">
              <span>{{_data.amount}}</span>
            </div>
          </div>
          <nav class="category-items">
            <div *ngFor="let i of _data.data"><a [href]='i.url'>{{i.name}}</a></div>
          </nav>
    </section>
    <div class="wrap-logo">
      <a  class="logo_href">
        <img [src]='_data.logo_img' alt="Logo" class="image-logo">
      </a>
    </div>
  </div>
</section>