.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}
.header-bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 1200px;
}
.category-items-basket {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.category-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 694px;
  > div {
    flex-grow: 1;
    font-size: 1.266rem;
    line-height: 1.733rem;
    cursor: pointer;
    a {
      color: #3e486c;
      transition: opacity 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
.wrap-basket {
  width: 34px;
  height: 34px;
  position: relative;
  cursor: pointer;
  margin-right: 12px;
  img {
    width: inherit;
    height: inherit;
  }
}
.wrap-logo {
  align-self: flex-end;
}
.amount {
  position: absolute;
  left: 25px;
  top: -7px;
  color: white;
  font-size: 8px;
  background-color: #1f68c1;
  display: inline-block;
  border-radius: 9px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
