<!--The content below is only a placeholder and can be replaced.-->
<app-login-bar></app-login-bar>
<app-header-bar></app-header-bar>
<app-search></app-search>
<app-latest-news-carousel></app-latest-news-carousel>
<app-service-tv></app-service-tv>
<app-order-newsletter></app-order-newsletter>
<app-footer></app-footer>
