$size: 16px;
$content_size: 10px;
.radio{
    display: flex;
    justify-content: flex-end;
    font-family: 'open-sans-light';
    font-size: 1rem;
    color: #ffffff;
    width: 962px;
    position: relative;
    top: 13px;
    right: 7px;
    margin: 0 auto;
}
.item{
    display: flex;
    justify-content: flex-start;
}
.content{
    background-color: #000;  
}
.wrap{
    width: $size;
    height: $size;
    background-color: #fff;
    border-radius: calc(#{$size}/2);
    display: flex;
    justify-content: center;
    align-items: center;
    &.active{
        .content{
            width: $content_size;
            height: $content_size;
            border-radius: calc(#{$content_size}/2);
        }
    }
}
.label{      
    margin: 0 15px 0 10px;
    }
