<div class="radio">
  <div class="item" *ngFor="let i of data_radio" (click)="click(i)">
    <div class="wrap" name="radio" [ngClass]="{'active': i == itemSelected}">
      <div class="content">
      </div>
    </div>
    <div class="label">{{i}}</div>
  </div>
</div>
