.majority-component {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  left: -3px;

  &:hover{
    opacity: 0.7;
    left: 1px;
    transition: left .3s;
  }
}

.majority {
  width: 8px;
  height: 8px;
  transform: rotate(-45deg);
  border-right: 1px solid #1e68c1;;
  border-bottom: 1px solid #1e68c1;;
}
