<section class="latest-news" *ngIf="_data">
  <head>
    <h1 class="main-text">{{_data.main_text}}</h1>
    <div class="section-buttons">
      <div class="button-text">{{_data.second_text}}</div>
      <div class="wrap-buttons">
        <div class="prev" (click)="carouselNews.prev()">
          <img [src]="_data.button_prev" alt="prev">
        </div>
        <div class="next" (click)="carouselNews.next()">
          <img [src]="_data.button_next" alt="next">
        </div>
      </div>
    </div>
  </head>
  <div class="carousel">
    <owl-carousel-o [options]="customOptions" #carouselNews>
      <ng-container *ngFor="let slide of _data.carousel_items" class="item">
        <ng-template carouselSlide [id]="slide.item">
          <div class="content-1">
            <div class="wrap-img">
              <img [src]="slide.content_1.url_img" [alt]="slide.content_1.title" [title]="slide.content_1.title">
            </div>
            <div class="wrap-text">
              <h1 class="title">{{slide.content_1.title}}</h1>
              <hr>
              <div class="name">{{slide.content_1.name}}</div>
              <div class="type-info">{{slide.content_1.type_text}}</div>
              <hr>
            </div>
          </div>
          <div class="content-2">
            <div class="wrap-img">
              <img [src]="slide.content_2.url_img" [alt]="slide.content_2.title" [title]="slide.content_2.title">
            </div>
            <div class="wrap-text">
              <h1 class="title">{{slide.content_2.title}}</h1>
              <hr>
              <div class="name">{{slide.content_2.name}}</div>
              <div class="type-info">{{slide.content_2.type_text}}</div>
              <hr>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</section>
