@mixin fix-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@function count-rem($some-number) {
  @return ($some-number/15) * 1rem;
}

.latest-news {
  width: 100%;
  margin-top: 60px;
}
head {
  width: 1171px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.main-text {
  font-size: 2rem;
  color: #333333;
  font-family: "open-sans-light";
}
.section-buttons {
  width: 227px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-text {
  font-size: 17px;
  color: #c2c2c2;
  font-family: "open-sans-light";
  cursor: pointer;
}
.wrap-buttons {
  display: flex;
  justify-content: space-between;
  width: 70px;
}

/*Carousel*/
.prev,
.next {
  width: 26px;
  height: 46px;
  border: 2px solid #cdcdcd;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 23px;
    height: 31px;
  }
}
.carousel {
  width: 1171px;
  margin: 0 auto;
}
.item {
  width: 397px;
}
.content-1,
.content-2 {
  display: flex;
  margin-bottom: 37px;
}
.wrap-img {
  width: 195px;
  height: 130px;
}
.wrap-text {
  font-family: "open-sans-regular";
  margin-left: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  box-sizing: border-box;
}
hr {
  width: 100%;
  opacity: 0.3;
}
.name {
  color: #1f68c1;
  font-size: count-rem(18);
  cursor: pointer;
}
.name,
.type-info {
  position: relative;
  left: 9px;
}
.type-info {
  font-size: 0.933rem;
  color: #333333;
}
.title {
  @include fix-center;
  width: 110px;
  height: 29px;
  background-color: #0fbacc;
  color: white;
  font-size: 0.933rem;
  font-weight: 300;
}
