//Order-newsletter
@function rem-caunt($args) {
  @return ($args/15) * 1rem;
}

.order-newsletter {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 58px;
}

.wrap {
  width: 1171px;
  display: flex;
  justify-content: flex-start;
}

//Order-newsletter/Info

.info {
  width: 770px;
  height: 193px;
  background-repeat: no-repeat;
  background-position: center center;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.wrap-content {
  position: relative;
  left: 37px;
  display: flex;
  justify-content: flex-start;
}

.wrap-img {
  width: 75px;
}

.wrap-text {
  width: 446px;
  height: 117px;
  position: relative;
  left: 31px;
  font-size: 1rem;
  font-family: "open-sans-light";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
  font-size: 2rem;
  font-family: "open-sans-regular";
}

.text {
  font-size: 1rem;
  line-height: 21px;
  color: #c2c2c2;
  width: 445px;
  top: 45px;
  text-align: justify;
}

.forwarding {
  font-size: 1rem;
  color: #0fbacc;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  /deep/.majority-component {
    transform: scale(0.7, 0.7);
  }

  /deep/.majority {
    border-right-width: 2px;
    border-bottom-width: 2px;
  }
}

//Order-newsletter/Form
.form {
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  left: 28px;
}
.title {
  color: #333333;
  line-height: 1.734rem;
  font-size: rem-caunt(30);
}
.wrap-input {
  display: flex;
  justify-content: center;
  position: relative;
  top: 3px;
}
input[type="email"] {
  width: 324px;
  font-size: 1rem;
  color: #767676;
  padding: 0 0 0 16px;
  border: 2px solid #c7c7c7;
  border-right: none;
  height: 46px;
}
.errors {
  font-size: 0.7rem;
  color: red;
}
.send-newsletter {
  width: 30px;
  height: 50px;
  border: none;
  display: flex;
  position: relative;
  top: -1px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.unsubscribe {
  font-size: 0.8rem;
  color: #0fbacc;
  display: flex;
  align-items: center;
  position: relative;
  top: -5px;
  /deep/.majority-component {
    transform: scale(0.5, 0.5);
  }
}
.wrap-checkboxs {
  display: flex;
  &:last-child {
    position: relative;
    top: 4px;
  }
}
.wrap-checkbox {
  background-repeat: no-repeat;
  height: 13px;
  width: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &.chacked {
    label {
      background-position: 0px -36px;
    }
  }
  label {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-position: 0px 0px;
    cursor: pointer;
  }
}
.text-checkbox {
  display: flex;
  width: 320px;
  color: #616161;
  font-size: 0.666rem;
  line-height: rem-caunt(12);
  position: relative;
  left: 8px;
  span {
   position: relative;
   left: -2px;
    color: red;
  }
}
