<div class="order-newsletter">
  <div class="wrap" *ngIf="_data">
    <div class="info" [style.background-image]="'url('+_data.info.background_img+')'">
      <div class="wrap-content">
        <div class="wrap-img">
          <img [src]="_data.info.secure_img" alt="">
        </div>
        <div class="wrap-text">
          <div class="heading">{{_data.info.headimg}}</div>
          <div class="text">{{_data.info.text}}</div>
          <div class="forwarding">{{_data.info.forwarding}}
            <app-majoritycomponent></app-majoritycomponent>
          </div>
        </div>
      </div>
    </div>
    <form class="form" [formGroup]="newsletterForm">
      <h1 class="title">{{_data.form.headimg}}</h1>
      <div class="wrap-input">
        <input type="email" placeholder="{{_data.form.placeholder}}" formControlName="email">
        <button class="send-newsletter" (click)="send()" [disabled]="!newsletterForm.valid">
          <img [src]="_data.form.arrow_button" alt="Arrow">
        </button>
      </div>
      <div class="errors" *ngIf="_errors.errors && (_errors.dirty || _errors.touched)">
        <p *ngIf="_errors.errors.required">Email jest wymagany</p>
        <p *ngIf="_errors.errors.email">Podaj prawidłowy adres</p>
      </div>
      <div class="unsubscribe">
        {{_data.form.unsubscribe}}
        <app-majoritycomponent></app-majoritycomponent>
      </div>
      <div *ngIf="newsletterForm">
        <div class="wrap-checkboxs" *ngFor="let item of _data.form.permission.chackbox_text;let i = index">
          <div class="wrap-checkbox" [ngClass]="{'chacked': permision[i].value}">
            <label for="permission_{{i}}" [style.background-image]="'url('+_data.form.permission.chackbox_img+')'"></label>
            <input type="checkbox" id="permission_{{i}}" formControlName="permision_{{i}}">
          </div>
          <div class="text-checkbox"><span>*</span>{{item}}</div>
        </div>
      </div>
    </form>
  </div>
</div>
