@font-face {
  font-family: open-sans-light;
  src: url('./assets/fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: open-sans-regular;
  src: url('./assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: open-sans-semibold;
  src: url('./assets/fonts/OpenSans-Semibold.ttf');
}

@font-face {
  font-family: pontanto-sans-regular;
  src: url('./assets/fonts/PontanoSans-Regular.ttf');
}
