/* You can add global styles to this file, and also import other style files */

a {
    text-decoration: none;
  }

  html {
    font-size: 15px;
    font-family: 'open-sans-regular', sans, arial;
  }



  @import "clear.css";
  @import "fonts.scss";
  @import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
  @import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
  // @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
  // @import "theme.scss";
