@import '~@angular/material/theming';
@include mat-core();



$testing-primary: mat-palette($mat-gray);
$testing-accent:  mat-palette($mat-gray,900);
$testing-warn:    mat-palette($mat-red);
$testing-theme: mat-light-theme($testing-primary, $testing-accent, $testing-warn);

@include angular-material-theme($testing-theme);
