<div class="search" [style.background-image]="'url('+_data.background_image+')'">
  <form class="form" [formGroup]="myForm" (ngSubmit)="send()" *ngIf="myForm">
    <div class="main-text">
      {{_data.main_text}}
    </div>
    <div class="content-search-group">
      <div class="wrap-input">
        <label for="input-search" [ngClass]="{focus:isClassVisible}">{{_data.input_text_area}}</label>
        <input type="text" name="input_serach" class="input-search" id="input-search" (blur)="isAction($event)" (focus)="isAction($event)"
          formControlName="search">
      </div>
      <app-select-list [selectData]="_selectData" formControlName="_select"></app-select-list>
      <button type="submit" class="search-bottom">
        <img [src]='_data.icon_search' alt="Wyślij">
      </button>
    </div>
    <div class="wrap_radio" *ngIf="_radio">
      <app-radio-button [data_radio]="_radio" [myForm]="myForm" formControlName="search_radio"></app-radio-button>
    </div>
  </form>
  <section class="carousel-s" *ngIf="_data_SearchCarousel">
    <header>
      <hr>
      <h1 class="main-text">{{_data_SearchCarousel.main_text}}</h1>
      <hr>
    </header>
    <owl-carousel-o [options]="customOptions" (translated)="getPassedData($event)" #owlCar>
      <ng-container *ngFor="let slide of _data_SearchCarousel.carousel_items,let i = index">
        <ng-template carouselSlide [id]='i'>
          <img [src]="slide.url_img">
          <div class="date-text-slide">{{slide.date}}</div>
          <div class="text-slide">{{slide.text}}</div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
    <div class="carousel-dots">
      <hr>
      <div class="wrap-content">
        <div class="wrap-dots">
          <div class="item" *ngFor="let item of _data_SearchCarousel.carousel_items" (click)="owlCar.to(item.id)">
            <div class="wrap" [ngClass]="{'active': item.id== activeSlides}">
              <div class="content"></div>
            </div>
          </div>
        </div>
        <div class="btn-text">{{_data_SearchCarousel.button_text}}</div>
      </div>
      <hr>
    </div>
  </section>
</div>
