$size: 16px;
$content_size: 10px;

.search {
  position: relative;
  height: 660px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

//Form
.wrap-input {
  position: relative;
  width: 542px;
  height: 42px;

  label {
    position: absolute;
    z-index: 2;
    font-size: 1rem;
    cursor: pointer;
    padding: 16px 0 10px 25px;
    transition: all 0.5s;

    &.focus {
      transform: scale(0.75) translateY(-1rem) translateX(-1rem);
    }
  }
}

.input-search {
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 16px 0 10px 25px;
  border: none;
  position: absolute;
  z-index: 1;
}

input:focus {
  outline: 0 none;
}

.content-search-group {
  background-color: white;
  font-family: 'open-sans-light';
  font-size: 1rem;
  color: #4b4a4a;
  width: 962px;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

button {
  width: 51px;
  height: 51px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  position: relative;

  img {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.form {
  padding-top: 65px;

  .main-text {
    color: white;
    font-family: 'open-sans-regular';
    text-shadow: 0px 5px 16px rgba(38, 80, 95, 0.4);
    font-size: 2.666rem;
    text-align: center;
    margin-bottom: 21px;
  }
}

// Carousel
.carousel-s {
  width: 1134px;
  margin: 0 auto;
  padding-top: 75px;

  .main-text {
    width: 369px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    color: #ffffff;
    font-family: 'open-sans-regular';
    text-shadow: 0px 5px 16px rgba(38, 80, 95, 0.4);
    font-weight: 300;
  }
}

header,
.carousel-dots {
  display: flex;
  align-items: center;
  width: 970px;
  margin: 0 auto;
}

hr {
  width: calc((100% - 369px) / 2);
}

.wrap-dots {
  display: flex;
}

.content {
  background-color: #000;
}

.wrap {
  width: $size;
  height: $size;
  background-color: #fff;
  border-radius: calc(#{$size}/2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 19px;
  cursor: pointer;

  &.active {
    .content {
      width: $content_size;
      height: $content_size;
      border-radius: calc(#{$content_size}/2);
    }
  }
}

.wrap-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 369px;
}

.btn-text {
  width: 156px;
  height: 38px;
  border: 2px solid #ffffff;
  opacity: 0.502;
  cursor: pointer;
  font-size: 17px;
  color: #ffffff;
  font-family: "open-sans-regular";
  display: flex;
  justify-content: center;
  align-items: center;
}

/deep/.owl-carousel {
  margin: 23px 0 20px 0;
.date-text-slide,
.text-slide{
position: absolute;
left:0;
color: #ffffff;
font-family: "open-sans-light";
display: flex;
justify-content: flex-start;
align-items: center;
padding-left:15px;
box-sizing: border-box;
}
.date-text-slide{
  bottom: 39px;
  background-color: rgba(14, 168, 184, 0.9);
    width: 126px;
    height: 30px;
    font-size: 0.866rem;
    font-family: "open-sans-regular";
}
.text-slide{
  bottom: 0;
  width: 100%;
  height: 39px;
  background-color: rgba(28, 94, 174, 0.9);
  font-size: 1.133rem;
  font-family: "open-sans-light";
}
  .owl-dots {
    position: absolute;
    display: none;
    left: 200vw;
  }
}
