<section *ngIf="_data">
  <div class="content" [style.background-image]="'url('+_data.background_image+')'">
    <div class="text-tv">
      <div class="title">{{_data.text_tv.head_1}}
        <div>{{_data.text_tv.head_2}}</div>
      </div>
      <div class="text">
          {{_data.text_tv.text}}
      </div>
    </div>
  </div>
  <div class="wrap-nav">
    <nav>
      <a class="item" *ngFor="let item of _data.nav_bar_items">{{item.nav_bar_item}}</a>
    </nav>
  </div>
</section>
