@mixin fix-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*text*/
.content {
  width: 100%;
  height: 440px;
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-position: center;
  @include fix-center;
}
.text-tv {
  width: 1200px;
  color: #ffffff;
}
.title {
  width: 104px;
  height: 157px;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "pontanto-sans-regular";
  font-weight: initial;
  div {
    font-size: 6.133rem;
    position: relative;
    top: -14px;
  }
}
.text {
  width: 415px;
  height: 154px;
  font-size: 1rem;
  box-sizing: border-box;
  font-weight: 300;
  background-color: rgba(16, 90, 181, 0.9);
  padding: 26px 34px;
  line-height: 1.467rem;
  @include fix-center;
}

/*navbar*/
.wrap-nav {
  @include fix-center;
  background-color: #113138;
}
nav {
  width: 1200px;
  height: 66px;
  @include fix-center;
  justify-content: space-between;
  color: #ffffff;
}
.item {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
  font-family: inherit;
  cursor: pointer;
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.7;
  }
}
